@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
  background:#f0f0f0;
}


.mainnav{padding-left: 0px;padding-right: 0px;}
.navbar-default{margin-bottom: 0px;border:none;}

a {
    color: #fff;
}
a:hover, a:focus {                                                     
    color: #fff;
    text-decoration: underline;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar .navbar-collapse {
        background:#FED001;
    }

.navbar-nav>li>.dropdown-menu {
    margin-top:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
    font-size: 16px;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}

.mega-active:after {
        background: #0087F2;
        bottom: -8px;
        content: ' ';
        display: block;
        height: 15px;
        left: calc(50% - 5px);
        position: absolute;
        width: 15px;
        z-index: 99;
        -webkit-transform: rotate(-45deg);
        -webkit-transform-origin: 50% 50%; 
    
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*.mega-dropdown-menu:before {*/
/*    content: "";*/
/*    border-bottom: 15px solid #0087F2;*/
/*    border-right: 17px solid transparent;*/
/*    border-left: 17px solid transparent;*/
/*    position: absolute;*/
/*    top: -15px;*/
/*    left: 285px;*/
/*    z-index: 10;*/
/*}*/
/*.mega-dropdown-menu:after {*/
/*    content: "";*/
/*    border-bottom: 0px solid #ccc;*/
/*    border-right: 19px solid transparent;*/
/*    border-left: 19px solid transparent;*/
/*    position: absolute;*/
/*    top: 0px;*/
/*    left: 283px;*/
/*    z-index: 8;*/
/*}*/
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: underline;
  color: #fff;
  background-color: ;
}
.mega-dropdown-menu .dropdown-header {
  color: #fff;
  font-size: 14px;
  font-weight:bold;
 font-family: 'UniformRnd-bold', sans-serif;
}

.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
     text-decoration: underline;
    color: #fff;
    background:#333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    text-decoration: underline;
    color: #fff;
    background-color: transparent;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.dropdown-menu{
background-color: #D5D5D5;
    border: 0px solid rgba(0,0,0,.15);
    font-size: 12px;
}
.dropdown-menu-2{

}


.mega-dropdown-menu-2c {
    width: 100%;
}


.head { width:50%;}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}







